 {
    background-color: rgb(57, 67, 196);
    text-align: center;
}

h1{
   font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

h4{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;

}

h1, h4, p {
    color: rgb(166, 8, 28);
    text-shadow: 2px 2px 8px #FF0000;
    text-align: center;
}

button {
  background-color: lightblue;
}
