body {
    background-color: grey;
    text-align: justify;

}

h1{
   font: Impact, Charcoal, sans-serif;
   text-align: justify;

}
h4{
    font: "Comic Sans MS", cursive, sans-serif;
    text-align: justify;

}
h1, h4, p {
    
    color: white;
    text-align: justify;

}
