@import url(https://fonts.googleapis.com/css?family=Alegreya+SC);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption:400italic);
@import url(https://fonts.googleapis.com/css?family=Questrial);

pre {
    border:5px double #ffffff;
    font-family:sans-serif;
    font-size:16px;
    color:#ffffff;
    background-color:#0b3963;
 }
pre span {
    text-transform:uppercase;
 }

 header {
background-color: #FFED74;
border: 1px black solid;
padding: 20px;
}

nav {
background-color: #E8C66A;
border: 1px black solid;
padding: 20px;
}

article {
background-color: #E89C6C;
border: 1px black solid;
padding: 20px;
}

footer {
background-color: #FF957E;
border: 1px black solid;
padding: 20px;
}

h1 {
 font-family: 'Questrial', sans-serif;
 text-align: center;
 margin: 1em auto;
}

h4 {
    font-family: 'PT Serif Caption', serif;
    font-style: italic;
    text-align: center;
    margin: 1em auto;}

  img.displayed {
    display: inline-block;
    margin-left: auto;
    margin-right: 7.5em }
}
img.displayed1 {
  display: inline-block;
  margin-left: 7.5em;
  margin-right: auto }
}
h4.image1 {
display: inline-block;
  margin-left: 7.5em;
    margin-right: auto
}
button {
  background-color: lightblue;
  text-align: center;
}
.aligncenter {

	img align: center;
}
.alignright {
	float: right;
}
#images{
    text-align:center;
}
#textunder{
  text-align:center;
}
