body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Aaux Next Regular", sans-serif;
	font-size:45px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#0666ea;
	font-family:Alegreya, serif;
	font-size:40px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:28px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Aaux Next Bold", sans-serif;
	font-size:37px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:40px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:Raleway, sans-serif;
	font-size:44px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:34.38%;
}
#_idContainer005, #_idContainer009 {
	display:inline-block;
	width:30.58%;
}
#_idContainer007 {
	display:inline-block;
	padding:0.08% 0% 0% 0%;
	position:relative;
	width:0.08%;
}
#_idContainer010 {
	display:inline-block;
	padding:39.41% 0% 0% 0%;
	position:relative;
	width:29.69%;
}
#_idContainer018 {
	display:inline-block;
	width:18.76%;
}
#_idContainer019, #_idContainer023 {
	display:inline-block;
	width:18.75%;
}
#_idContainer022 {
	display:inline-block;
	width:18.78%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-color:#e41a00;
	border-width:3px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#dddddd;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:17% -17% 17% -17%;
}

